@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="container py-5">
    <div class="card shadow mx-auto rounded-4 border-0" style="max-width: 500px;">
        <div class="card-header bg-primary text-white text-center py-3 rounded-top-4">
            <h1 class="h3 mb-0"><i class="fa-solid fa-key me-2"></i>@ViewData["Title"]</h1>
        </div>

        <form method="post" class="card-body p-4">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="btn-group d-flex align-items-center mb-3 rounded-3">
                <div class="bg-secondary rounded-start-2 d-flex justify-content-center align-items-center" style="min-width: 56px; max-width: 56px; height: 65px;">
                    <i class="fa-solid fa-envelope mx-2 text-white flex-grow-1 text-center d-block "></i>
                </div>
                <div class="form-floating flex-grow-1">
                    <input asp-for="Input.Email" class="form-control rounded-start-0" autocomplete="username" aria-required="true"
                        placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="btn-group d-flex align-items-center mb-3 rounded-3">
                <div class="bg-secondary rounded-start-2 d-flex justify-content-center align-items-center" style="min-width: 56px; max-width: 56px; height: 65px;">
                    <i class="fa-solid fa-lock mx-2 text-white flex-grow-1 text-center d-block "></i>
                </div>
                <div class="form-floating flex-grow-1">
                    <input asp-for="Input.Password" class="form-control rounded-start-0" autocomplete="new-password" disabled
                        aria-required="true" placeholder="Please enter your password." />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="btn-group d-flex align-items-center mb-3 rounded-3">
                <div class="bg-secondary rounded-start-2 d-flex justify-content-center align-items-center" style="min-width: 56px; max-width: 56px; height: 65px;">
                    <i class="fa-solid fa-lock mx-2 text-white flex-grow-1 text-center d-block "></i>
                </div>
                <div class="form-floating flex-grow-1">
                    <input asp-for="Input.ConfirmPassword" class="form-control rounded-start-0" autocomplete="new-password" disabled
                        aria-required="true" placeholder="Please confirm your password." />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary hvr-icon-rotate"><i
                    class="fa-solid fa-arrows-rotate me-2 hvr-icon"></i>Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
