@model Bus_Station_Ticket_Management.Models.Location

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group btn-group gap-1 mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a role="button" class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div data-aos="fade-up">
    <h2>Scroll to see me fade in!</h2>
</div>

<button id="tooltipButton" class="btn btn-primary">
    Hover me!
</button>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            tippy('#tooltipButton', {
                content: 'This is a tooltip!',
            });
        });
    </script>
}
