td {
    word-wrap: break-word;
    white-space: normal;
    max-width: 200px;
}

th {
    vertical-align: middle;
}
/* 
@media (min-width: 1200px) {
    table td {
        font-size: 0.875rem !important;
    }
} */