@model List<Bus_Station_Ticket_Management.Models.Ticket>
@using System.Security.Claims

@{
    ViewData["Title"] = "Ticket Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier); // Get logged-in user ID
}

<a class="btn btn-outline-secondary mb-3" asp-action="MyTickets">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Back to List</span>
</a>

<div class="container pb-3">
    <h1>Ticket Details</h1>

    @foreach (var ticket in Model)
    {
        <partial name="_DetailsPartial" model="ticket" />
    }

    @if (string.IsNullOrEmpty(userId) && User.Identity == null && !User.Identity.IsAuthenticated)
    {
        <h3>Please screenshot this or save the details to your device.</h3>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}