@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container">
    <h1 class="mb-3 fw-bold">Manage your account</h1>
    <h2 class="text-muted">Change your account settings</h2>
    <hr />

    <div class="row mx-auto">
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto" data-aos="fade-right">
                <div class="card-header bg-success bg-gradient">
                    <h3 class="mb-0 text-uppercase fw-bold fs-5 text-light">Navigation</h3>
                </div>

                <div class="card-body p-0">
                    <partial name="_ManageNav" />

                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9"data-aos="fade-left">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script>
        AOS.init({ duration: 800 });
    </script>
}
