@model Bus_Station_Ticket_Management.Models.VehicleType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<h1>Edit</h1>

<h4>VehicleType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSeats" class="control-label"></label>
                <input asp-for="TotalSeats" class="form-control" />
                <span asp-validation-for="TotalSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalFlooring" class="control-label"></label>
                <input asp-for="TotalFlooring" class="form-control" />
                <span asp-validation-for="TotalFlooring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalRow" class="control-label"></label>
                <input asp-for="TotalRow" class="form-control" />
                <span asp-validation-for="TotalRow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalColumn" class="control-label"></label>
                <input asp-for="TotalColumn" class="form-control" />
                <span asp-validation-for="TotalColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" role="button" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
