/* #main-content {
    z-index: 1000;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: auto;
    opacity: 0;
    transition: opacity 0.125s ease-in-out;
}

.modal-backdrop.show {
    opacity: 0.5;
} */