.dt-search {
    display: flex;
    align-items: center;
    flex: 1;
}

.dt-search > input {
    flex: 1;
}

.dt-buttons {
    justify-content: flex-end;
}

.dt-info {
    display: flex;
    align-items: center;
    height: 100%;
}

.table-responsive {
    position: relative;
}

/* Ensure dropdown appears on top */
.dropdown-menu {
    position: absolute !important;
    z-index: 1051 !important; /* Ensures the dropdown is above other elements */
}

div.dt-button-collection {
    left: auto !important;
    right: 0 !important;
    transform: translateX(-10%) translateY(0%);
}

@media (max-width: 768px) {
	.table th {
		font-size: 21px !important;
	}
}