.dt-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.dt-search > input {
    flex: 1;
    max-width: 300px;
}

#searchBar {
    flex: 1;
}

#moreButtons {
    /* margin: 0 !important; */
    max-width: 59.55px !important;
    max-height: 42.25px;
}

#moreButtons > .dt-buttons {
    max-width: 59.55px !important;
}

.dt-info {
    display: flex;
    align-items: center;
    height: 100%;
}

.table-responsive {
    position: relative;
}

/* Ensure dropdown appears on top */
.dropdown-menu {
    position: absolute !important;
    z-index: 1051 !important; /* Ensures the dropdown is above other elements */
}

div.dt-button-collection {
    left: auto !important;
    right: 0 !important;
    transform: translateX(-10%) translateY(0%);
}

@media (max-width: 768px) {
	.table th {
		font-size: 21px !important;
	}

    .dt-search {
        justify-content: flex-start !important;
    }
}