<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bus Station Ticket Management - Admin</title>
    <link rel="icon" href="/favicon.ico" sizes="1024x1024" type="image/x-icon">


    <!-- Import stylesheet -->
    <!-- Site & Shared Styles -->
    <link rel="stylesheet" href="~/css/Shared/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/Custom Bootstrap.css" asp-append-version="true" />

    <!-- Bootstrap & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"
        rel="stylesheet" />

    <!-- Animate on Scroll -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">

    <!-- Hover.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hover.css/css/hover-min.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css">

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Choices.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">

    <!-- DataTables.js -->
    <link
        href="https://cdn.datatables.net/v/bs5/moment-2.29.4/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.css"
        rel="stylesheet" integrity="sha384-lyhIvAFlxjH4aljUendRs90/ODPCV1A1wAjmcmP1kjBUQKrs6MC7p5Eaey1Bza/n"
        crossorigin="anonymous">
</head>


<body class="d-flex flex-column ">
    <!-- Header -->
    <header class="shadow-sm d-md-none" style="position: sticky; top: 0;">
        <nav class="navbar navbar-expand-lg bg-success bg-gradient navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand fw-semibold" asp-area="Admin" asp-controller="Admin" asp-action="Index">
                    <i class="fa-solid fa-bus me-2"></i>Bus Station Admin
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar"
                    aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="adminNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Home -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Tickets" asp-action="Revenue">Revenue</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">User Home</a></li>
                            </ul>
                        </li>
                        <!-- Vehicle -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Vehicle</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Vehicle"
                                        asp-action="Index">Vehicles</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="VehicleType"
                                        asp-action="Index">Vehicle Types</a></li>
                            </ul>
                        </li>
                        <!-- Trip -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Trip</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Location"
                                        asp-action="Index">Locations</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Route"
                                        asp-action="Index">Routes</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Trip"
                                        asp-action="Index">Trips</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Driver"
                                        asp-action="Index">Drivers</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="TripDriverAssignment"
                                        asp-action="Index">Trip Assignments</a></li>
                            </ul>
                        </li>
                        <!-- User -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">User</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="ApplicationUser"
                                        asp-action="Index">Application Users</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Ratings"
                                        asp-action="Index">Ratings</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Tickets"
                                        asp-action="Index">Tickets</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Coupons"
                                        asp-action="Index">Coupons</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Sidebar -->
    <div class="row flex-grow-1" style="position: relative;">
        <div id="sidePanel"
            class="offcanvas show offcanvas-start d-none d-md-flex flex-column bg-success text-white" tabindex="-1"
            data-bs-scroll="true" data-bs-backdrop="false" aria-controls="offcanvasResponsive"
            style="position: fixed; top: 0; left: 0; height: 100vh; width: 250px; z-index: 1030; overflow-y: auto; scrollbar-color: #d6d6d6 #20874e">
            <div class="offcanvas-header d-flex px-2 justify-content-center align-items-center">
                <a asp-controller="Admin" asp-action="Index"
                    class="offcanvas-title d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <i class="fa-solid fa-bus me-2"></i>
                    <span class="fs-5 fw-semibold">Bus Admin</span>
                </a>
                <button type="button" class="btn-transparent d-flex justify-content-center align-items-center navbar-toggler" id="sidebarToggleOff" data-bs-dismiss="offcanvas-md" data-bs-toggle="offcanvas-md" data-bs-target="#sidePanel" aria-label="Close"><i class="fa-solid fa-bars"></i></button>
            </div>
            <hr>
            <div class="offcanvas-body d-flex flex-column flex-grow-1 p-0" style="overflow-x: hidden;">
                <ul class="d-flex nav nav-pills accordion accordion-flush flex-column mb-auto flex-grow-1 gap-1"
                    id="accordionSidepanel">

                    <!-- Home -->
                    <li class="accordion-item bg-success px-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button px-0 py-3 collapsed bg-transparent text-white" type="button"
                                data-bs-toggle="collapse" data-bs-target="#homeMenu" aria-expanded="false"
                                aria-controls="homeMenu">
                                <i class="bi bi-view-stacked me-2"></i>
                                Home
                            </button>
                        </h2>
                        <div id="homeMenu" class="accordion-collapse collapse" data-bs-parent="#accordionSidepanel">
                            <div class="accordion-body ps-3">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                            <i class="bi bi-columns-gap me-2"></i>
                                            Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Tickets" asp-action="Revenue">
                                            <i class="bi bi-bar-chart me-2"></i>
                                            Revenue
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                            <i class="bi bi-house-door me-2"></i>
                                            User Home
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Vehicle -->
                    <li class="accordion-item bg-success px-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button px-0 py-3 collapsed bg-transparent text-white" type="button"
                                data-bs-toggle="collapse" data-bs-target="#vehicleMenu" aria-expanded="false"
                                aria-controls="vehicleMenu">
                                <i class="bi bi-truck me-2"></i>
                                Vehicle
                            </button>
                        </h2>
                        <div id="vehicleMenu" class="accordion-collapse collapse" data-bs-parent="#accordionSidepanel">
                            <div class="accordion-body ps-3">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Vehicle"
                                            asp-action="Index">
                                            <i class="bi bi-truck-front me-2"></i>
                                            Vehicles
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="VehicleType"
                                            asp-action="Index">
                                            <i class="bi bi-truck-flatbed me-2"></i>
                                            Vehicle Types
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Trip -->
                    <li class="accordion-item bg-success px-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button px-0 py-3 collapsed bg-transparent text-white" type="button"
                                data-bs-toggle="collapse" data-bs-target="#tripMenu" aria-expanded="false" aria-controls="tripMenu">
                                <i class="bi bi-calendar-check me-2"></i>
                                Trip
                            </button>
                        </h2>
                        <div id="tripMenu" class="accordion-collapse collapse" data-bs-parent="#accordionSidepanel">
                            <div class="accordion-body ps-3">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Location" asp-action="Index">
                                            <i class="bi bi-geo-alt me-2"></i>
                                            Locations
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Route" asp-action="Index">
                                            <i class="bi bi-signpost-2 me-2"></i>
                                            Routes
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Trip" asp-action="Index">
                                            <i class="bi bi-calendar-range me-2"></i>
                                            Trips
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Driver" asp-action="Index">
                                            <img width="16" height="20" src="/assets/img/driver.svg" style="filter: invert(100%)" class="me-2" alt="driver" />
                                            Drivers
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="TripDriverAssignment" asp-action="Index">
                                            <i class="bi bi-person-lines-fill me-2"></i>
                                            Assignments
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- User -->
                    <li class="accordion-item bg-success px-2">
                        <h2 class="accordion-header">
                            <button class="accordion-button px-0 py-3 collapsed bg-transparent text-white" type="button"
                                data-bs-toggle="collapse" data-bs-target="#userMenu" aria-expanded="false"
                                aria-controls="userMenu">
                                <i class="bi bi-people me-2"></i>User
                            </button>
                        </h2>
                        <div id="userMenu" class="accordion-collapse collapse" data-bs-parent="#accordionSidepanel">
                            <div class="accordion-body ps-3">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="ApplicationUser" asp-action="Index">
                                            <i class="bi bi-person-circle me-2"></i>App Users
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Ratings" asp-action="Index">
                                            <i class="bi bi-star-half me-2"></i>Ratings
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Tickets" asp-action="Index">
                                            <i class="bi bi-ticket-perforated me-2"></i>Tickets
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-white" asp-area="Admin" asp-controller="Coupons" asp-action="Index">
                                            <i class="bi bi-ticket-detailed me-2"></i>Coupons
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="mt-auto">
                <hr class="mb-0 w-100">
                <partial name="_LoginPartial" />
            </div>
        </div>

        <!-- Main Content -->
        <div class="d-flex h-100 flex-grow-1 bg-light" id="main-content">
            <main role="main" class="container-fluid flex-grow-1 py-4 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Animate on Scroll -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <!-- DataTables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"
        integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"
        integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.datatables.net/v/bs5/moment-2.29.4/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.js"
        integrity="sha384-UhT82qWQzpn5GAgecdZVEWDAwtoe+azh0Xe2Gmkp4ed9PLszyFEhnf/CmpX/4jUh"
        crossorigin="anonymous"></script>

    <!-- GSAP -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>

    <!-- Lottie -->
    <script src="https://unpkg.com/lottie-web@5.12.2/build/player/lottie.min.js"></script>

    <!-- Flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Choices.js -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- Tippy.js -->
    <script src="@("https://unpkg.com/@popperjs/core@2")"></script>
    <script src="@("https://unpkg.com/tippy.js@6")"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- VanillaTilt -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.8.0/dist/vanilla-tilt.min.js"></script>

    <!-- Full Calendar -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Scripts -->
    <script>
        $(document).ready(function () {
            const sidebar = $('#sidePanel');
            const sidebarToggleOff = $('#sidebarToggleOff');
            const mainContainer = $('#main-content');
            const sidebarToggleOn = $('<button>', {
                html: `<i class="fas fa-caret-right"></i>`,
                id: 'sidebarToggleOn',
                class: 'btn btn-secondary position-fixed px-1 py-4',
            });

            sidebarToggleOn.css({
                visibility: 'hidden',
                left: '5px',
                top: '50%',
                transform: 'translateY(-50%)',
            });

            mainContainer.append(sidebarToggleOn);

            const bsOffcanvas = bootstrap.Offcanvas.getOrCreateInstance('#sidePanel');

            // Function to wait for animation to finish
            function delay(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            async function smoothSidePanelToggle(btn) {
                console.log('Button ID:', btn.id); // Log the button ID to confirm
                const sidebarVisibility = sidebar.css('visibility'); // Get current visibility

                switch (btn.id) {
                    case "sidebarToggleOff":
                        if (sidebarVisibility === 'visible') {
                            // Hide offcanvas
                            await bsOffcanvas.hide();
                            await mainContainer.animate({ marginLeft: '0px' }, 300).promise();
                            await sidebarToggleOn.css('visibility', 'visible');
                        }
                        console.log('Sidebar Closed');
                        break;
                    case "sidebarToggleOn":
                        if (sidebarVisibility === 'hidden') {
                            // Show offcanvas
                            await bsOffcanvas.show();
                            await mainContainer.animate({ marginLeft: '250px' }, 300).promise();
                            await sidebarToggleOn.css('visibility', 'hidden');
                        }
                        console.log('Sidebar Opened');
                        break;
                }
            }

            sidebarToggleOn.on("click", function () { smoothSidePanelToggle(this); });
            sidebarToggleOff.on("click", function () { smoothSidePanelToggle(this); });

            // Handle screen size changes (responsive)
            function toggleSidebarBasedOnScreenSize() {
                if (window.innerWidth < 768) {
                    // Mobile: hide sidebar and reset margin immediately
                    sidebar.removeClass('show');
                    sidebarToggleOn.css('visibility', 'hidden');
                    bsOffcanvas.hide();
                    mainContainer.stop(true, true).css('margin-left', '0px'); // Reset margin immediately on mobile
                } else {
                    // Desktop: force sidebar to show with smooth transition
                    sidebarToggleOn.css('visibility', 'visible');
                    if (sidebar.hasClass('show')) {
                        mainContainer.stop(true, true).css('margin-left', '250px'); // Set margin immediately
                        bsOffcanvas.show();
                    } else {
                        mainContainer.stop(true, true).css('margin-left', '0px'); // Reset margin immediately
                    }
                }
            }

            // Run once on page load
            document.addEventListener('DOMContentLoaded', toggleSidebarBasedOnScreenSize);
            // Also run on resize
            window.addEventListener('resize', toggleSidebarBasedOnScreenSize);
        });
    </script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
