main {
    width: 800px;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
}

.btn i {
    font-size: 1.5em;
}

.btn i::before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    vertical-align: middle;
}

span.sign-up {
    flex: 1;
}