@model Bus_Station_Ticket_Management.Models.Coupon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Coupon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CouponString" class="control-label"></label>
                <input asp-for="CouponString" class="form-control" />
                <span asp-validation-for="CouponString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountType" class="control-label"></label>
                <select asp-for="DiscountType" id="discountType" class="form-control" onchange="updateDiscountType()" asp-items="ViewBag.DiscountType"></select>
                <span asp-validation-for="DiscountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountAmount" class="control-label"></label>
                <input asp-for="DiscountAmount" type="number" min="0" id='discountValue' class="form-control" oninput="checkInput()"/>
                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPeriod" class="control-label"></label>
                <input asp-for="StartPeriod" class="form-control" />
                <span asp-validation-for="StartPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndPeriod" class="control-label"></label>
                <input asp-for="EndPeriod" class="form-control" />
                <span asp-validation-for="EndPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="IsActive" type="hidden" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function updateDiscountType() {
            const type = document.getElementById('discountType').value;
            const value = document.getElementById('discountValue');

            if (type == "Percentage") {
                value.placeholder = "%";
                value.setAttribute("max", 100);
            } else {
                value.placeholder = "VND";
            }

            console.log(type);
            console.log(value);
            window.addEventListener("load", updateDiscountSuffix);
        }

        function checkInput() {
            const type = document.getElementById('discountType').value;
            const value = document.getElementById('discountValue');

            if (type == "Percentage") {
                if (value.value > 100) {
                    value.value = 100;
                }
            } 
        }

        updateDiscountType();
    </script>
}
